/* See license.txt for terms of usage */

.tabHomeBody {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.homeBody {
    padding: 8px;
}
